html,body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
	height: 100%;
	width: 100%;
	
}
html,body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
	height: 100%;
	width: 100%;
	
}
.select-consulta {
    display: block;
    width: 200px;
    height: auto;
    text-align: center;
    align-items: center;
    color: black;
    background-color: #fcbe24;
}

.btn.amber {
    color: black;
}

.homeTotal {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-height: 100%;
    height: 300px;
    margin: auto auto;
}
.container-home {
    display: flex;
    flex-direction: row;
    width: 100vh;
    max-width: 100%;  
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}


.container-home a {
    margin: 10px;
}

h3 {
    text-align: center;
    color: #fcbe24;
    margin-bottom: -10px;
}

p {
    text-align: center;
    color: #fcbe24;
    margin-bottom: 20px; 
    font-size: 1.5rem;
}


.collapsible {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    text-align: justify;
    border: none;
}

.collapsible-body i:hover {
    color: #fcbe24;
}


.collapsible li {
    border-radius: 20px;
    text-decoration: none;
    list-style: none;
    text-align: justify;
    margin: 35px;
    width: 243px;
    
    
}


.collapsible h3 {
    background-color: black;
    color: #fcbe24;
    text-align: center;
    width: 300px;
    
}

.collapsible-body {
    background-color: rgb(197, 192, 192);
   
}





.collapsible-header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  
    
}


.collapsible label{
  display: inline;
}

.collapsible h5 {
border-bottom: 1px solid black;
font-size: 1rem;

}


h5:hover {
 background-color: black;
 color: #fcbe24;
}


.collapsible h6 {
    background-color: black;
    color: #fcbe24;
    font-size: 1rem;
    
    padding: 5px 5px 5px 5px;
    
}

.collapsible h6:hover {
    background-color: rgb(197, 192, 192);
    color: black;
}

.collapsible-header i {
    color: #fcbe24;
    margin-top: 20px;
}





.notfound {
    color: white;
    text-align: center;
}

.notfound img {
    width: 50%;
    border-radius: 40px;
}


input {
    color: white;
}

.result-consulta {
    background-color:rgb(197, 192, 192);
    display: flex;
    flex-direction: row;
    width: 100vh;
    max-width: 100%;  
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border: 4px solid black;
    

}
.result-consulta h5 {
        border-bottom: 1px solid black;
        margin-right: 10px;
    
}

h2 {
    display: block;
    margin: 15px;
}



h2:hover {
background-color: black;
color: #fcbe24;
}

.btn.amber {
    margin-top: 10px;
}


@media (max-width: 411px) {
    .container {
        
    }

    .collapsible{
        margin-top: 50px;
    }
    
  }


  @media (max-width: 732px) {
    .container {
       
    }

    .collapsible {
        margin-top: 20px;
    }
    
  }

  
.container {
    display: flex;
    flex-direction: row;
    width: 100vh;
    max-width: 100%;  
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    color: #fcbe24;
    margin-bottom: 10px;
}

select {
    color: white;
}











  